@import "./colors.scss";
@import "./fonts.scss";

@mixin box($background-color, $border-color, $radius) {
  background-color: $background-color;
  color: $white;
  border: 0.2vw solid $border-color;
  border-radius: $radius;
}

@mixin info() {
  font-size: 1.5vw;
  padding: 0.5vw;
  margin: 0.5vw;

  font-family: $info-font;

  user-select: none;
}

@mixin left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3vw;
}

@mixin right-align {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3vw;
}

@mixin image {
  height: 1.1vw;
  margin: 0.2vw;
}