@import "./colors.scss";
@import "./fonts.scss";

@mixin box($background-color, $border-color, $radius) {
  background-color: $background-color;
  color: $white;
  border: 3px solid $border-color;
  border-radius: $radius;
}

@mixin info() {
  font-size: 18px;
  padding: 5px;
  margin: 3px;

  font-family: $info-font;

  user-select: none;
  
  @media (max-width: 600px) {
    font-size: 12px;    
  }
}

@mixin left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

@mixin right-align {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

@mixin image {
  height: 18px;
  margin: 0 2px;

  @media (max-width: 600px) {
    height: 12px;    
  }
}