.panel {
  width: 100%;
  height: 18vw;
  background-image: url(../../../../assets/grass/grass.svg);
  background-position-y: 0.2vw;
  background-size: auto 100%;
  background-repeat: repeat;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}