.panel {
  width: 100vw;
  height: 30vh;
  background-image: url(../../../../assets/grass/grass.png);
  background-position-x: 200px;
  background-size: auto 100%;
  background-repeat: repeat;

  position: absolute;
  bottom: 0;
}

.panel-info {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;

  justify-items: center;
  align-items: end;
  position: absolute;
  bottom: 10px;
  width: 100%;
}