.game {
  width: 100vw;
  height: 100vh;
  background-color: #96d9ff;
  overflow: hidden;
  cursor: url("../../assets/crosshair_big.cur") 58 58, url("../../assets/crosshair_small.cur") 15 15, default;
}