.game {
  width: 100vw;
  height: 100vh;
  background-color: #96d9ff;
  position: absolute;
  overflow: hidden;
  cursor: url(../../assets/crosshair_big.cur) 58 58, url(../../assets/crosshair_small.cur) 15 15, default;
}

.grass {
  width: 100%;
  height: 35vh;
  background-image: url(../../assets/grass.png);
  background-size: auto 35vh;
  background-repeat: repeat;

  position: absolute;
  bottom: 0;
}