@import '../../styles/mixins.scss';
@import '../../styles/colors.scss';

:host {
  @include info($color-white);
}

.hits {
  display: flex;
  flex-direction: row;
}

.hit {
  height: 24px;
  margin: 2px;
}

.active {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}