@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.info {
  @include left-align();
  @include box($black, $green, 0.5vw);
  @include info();
}

.bullets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-items: center
}

.bullet {
  @include image();
}