@import '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

:host {
  grid-row-start: span 2;
}

.info {
  @include left-align();
  @include box($black, $green, 0.5vw);
  @include info();
}

.hits {
  display: flex;
  flex-direction: row;
}

.hit {
  @include image();
}

.active {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}